<div class="container mt-5">
    <h1>Administrar Articulo Manufacturado</h1>

    <a href="#modalAgregar" role="button" class="btn btn-large btn-success"
        (click)="resetManufacturado()"
        data-toggle="modal">Agregar Articulo Manufacturado</a>

    <div id="modalAgregar" class="modal fade mt-5">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header mb-3"
                    *ngIf="articuloManufacturado.id == null">
                    <h4 class="modal-title">Agregar Articulo manufacturado</h4>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-header mb-3"
                    *ngIf="articuloManufacturado.id != null">
                    <h4 class="modal-title">Actualizar Articulo Manufacturado</h4>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                </div>
                <form (ngSubmit)="guardar(forma)" #forma="ngForm">
                    <div class="form-group row">
                        <label class="col-2 col-form-label ml-2 mt-2">Denominación</label>
                        <div class="col-7 ml-3">
                            <input class="form-control"
                                type="text"
                                placeholder="Denominacion"
                                name="denominacion"
                                [(ngModel)]="articuloManufacturado.denominacion"
                                minlength="3" required #denominacion="ngModel">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="denominacion.touched &&
                                !denominacion.valid">
                                <div *ngIf="denominacion.errors?.required">Este
                                    campo es requerido.</div>
                                <div *ngIf="denominacion.errors?.minlength">
                                    Por lo menos
                                    {{denominacion.errors.minlength.requiredLength}}
                                    carácteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-5">
                        <div class="col-md-5">
                            <label class="col-md-5 col-form-label ml-2">Precio</label>
                            <input class="form-control"
                                type="number"
                                placeholder="Precio Venta"
                                name="precioVenta"
                                [(ngModel)]="articuloManufacturado.precioVenta"
                                required #precioVenta="ngModel">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="precioVenta.touched &&
                                !precioVenta.valid">
                                <div *ngIf="precioVenta.errors?.required">Este
                                    campo es requerido.</div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <label class="col-md-5 col-form-label ml-2">Tiempo</label>
                            <input class="form-control"
                                type="number"
                                placeholder="Tiempo cocina"
                                name="tiempoEstimadoCocina"
                                [(ngModel)]="articuloManufacturado.tiempoEstimadoCocina"
                                required #tiempoEstimadoCocina="ngModel">

                            <div class="alert alert-danger" role="alert"
                                *ngIf="tiempoEstimadoCocina.touched &&
                                !tiempoEstimadoCocina.valid">
                                <div
                                    *ngIf="tiempoEstimadoCocina.errors?.required">Este
                                    campo es requerido.</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-1 col-form-label ml-2 mt-2">Rubro</label>
                        <div class="col-5 ml-2">
                            <select [(ngModel)]="indice" name="rubro"
                                class="form-control">
                                <option value="0">Seleccione un
                                    rubro</option>
                                <option [value]="unidad.id" *ngFor="let unidad
                                    of rubros;
                                    let i= index">
                                    {{unidad.denominacion}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <button type="button"
                                (click)="addDetalle()"
                                class="btn btn-primary ml-5">
                                +
                            </button>
                            &nbsp;&nbsp;
                            <button type="button"
                                (click)="deleteDetalle()"
                                class="btn btn-danger">
                                -
                            </button>
                        </div>
                    </div>

                    <div class="form-group row ml-1" *ngFor="let det of
                        articuloManufacturado.manufacturadoDetalle;let i=
                        index">
                        <div class="col-md-4">
                            <label class="col-md-4 col-form-label ml-1">Cantidad</label>
                            <input class="form-control"
                                type="number"
                                placeholder="cantidad"
                                [(ngModel)]="articuloManufacturado.manufacturadoDetalle[i].cantidad"
                                [ngModelOptions]="{standalone: true}"
                                required>
                        </div>
                        <div class="col-md-4"
                            *ngIf="false">
                            <label class="col-md-4 col-form-label ml-2">U.Medida</label>
                            <br>
                            <label class="col-md-4 col-form-label ml-2">
                                {{articuloManufacturado.manufacturadoDetalle[i].articuloInsumo.unidadMedida.denominacion}}</label>
                            <!-- <input class="form-control"
                                disabled="true"
                                type="text"
                                placeholder="U.Medida"
                                name="uniMedida"
                                [(ngModel)]="articuloManufacturado.manufacturadoDetalle[i].articuloInsumo.unidadMedida.denominacion"
                               > -->
                            <!--  <select name="unidadMedida"
                                [(ngModel)]="articuloManufacturado.manufacturadoDetalle[i].unidadMedida.id"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control">
                                <option value="0">u. medida</option>
                                <option [value]="unidad.id" *ngFor="let unidad
                                    of uMedidas;
                                    let i= index">
                                    {{unidad.denominacion}}</option>
                            </select> -->
                        </div>
                        <div class="col-md-3">
                            <!--  articuloManufacturado.manufacturadoDetalle[i].articuloInsumo.unidadMedida
                            == null -->
                            <label class="col-md-4 col-form-label ml-2">U.Medida</label><br>
                            <label class="col-md-4 col-form-label ml-2">{{articuloManufacturado.manufacturadoDetalle[i].denominacion}}</label>
                            <!--  <input class="form-control"
                               disabled=true
                                type="text"
                                placeholder="U.Medida"
                                name="uniMedid"
                                [(ngModel)]="articuloManufacturado.manufacturadoDetalle[i].denominacion"> -->
                        </div>
                        <div class="col-4">
                            <label class="col-3 col-form-label ml-2 mt-0">Insumo</label>
                            <select name="insumo"
                                (change)="getUnidad(articuloManufacturado.manufacturadoDetalle[i].articuloInsumo.id,
                                i)"
                                [(ngModel)]="articuloManufacturado.manufacturadoDetalle[i].articuloInsumo.id"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control">
                                <option value="0">Insumo</option>
                                <option [value]="unidad.id" *ngFor="let unidad
                                    of insumos;
                                    let i= index">
                                    {{unidad.denominacion}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <input type="file" class="d-none"
                                (change)="onPhotoSelected($event)" #photoInput>
                            <img [src]="photoSelected ||
                                './assets/images/noimage.png'" width="200px"
                                heigh="200px"
                                class="img-fluid" alt="No image"
                                (click)="photoInput.click()">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">&nbsp;</label>
                        <div class="input-group col-md-8">
                            <button type="submit"
                                *ngIf="articuloManufacturado.id == null"
                                [disabled]="!forma.valid"
                                class="btn btn-success ml-3">
                                Guardar
                            </button>
                            <button type="submit"
                                *ngIf="articuloManufacturado.id != null"
                                [disabled]="!forma.valid"
                                class="btn btn-success ml-3">
                                Actualizar
                            </button>

                        </div>
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2 ml-5">
            <select name="rubro"
                (change)="getManufacturadoPag()"
                [(ngModel)]="rubro"
                [ngModelOptions]="{standalone: true}"
                class="form-control">
                <option value="0">Todos</option>
                <option [value]="unidad.id" *ngFor="let unidad
                    of rubros;
                    let i= index">
                    {{unidad.denominacion}}</option>
            </select>
        </div>
        <br>

        <div class="col-md-8">
            <input #termino type="text" (keyup)="buscar(termino.value)"
                class="form-control" placeholder="Buscar manufacturado...">
        </div>
    </div>
    <div class="co-5 m-3">
    </div>

    <table class="table table-dark">
        <thead>
            <div class="row">
                <div class="col-md-8">
                    <select [(ngModel)]="order"
                        (change)="buscar(termino.value)">
                        <option value="id">Id</option>
                        <option value="denominacion">Denominacion</option>
                        <option value="precioVenta">Precio Venta</option>
                        <option value="tiempoEstimadoCocina">Tiempo Cocina</option>
                        <option value="stockMinimo">Stock Minimo</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select [(ngModel)]="asc" (change)="buscar(termino.value)">
                        <option value="true">Ascendente</option>
                        <option value="false">Descendente</option>
                    </select>
                </div>
            </div>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Denominacion</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Cocina</th>
                <th scope="col">Insumos </th>
                <th scope="col">Rubro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manufacturado of manufacturados; let i= index">
                <th scope="row"><img width="100px" heigh="100px"
                        [src]="'http://localhost:9000/manufacturado/imagen/'+manufacturado.image"></th>
                <td> {{manufacturado.denominacion}}</td>
                <td>{{manufacturado.precioVenta}}</td>
                <td>{{manufacturado.tiempoEstimadoCocina}}</td>
                <td>

                    <ul>
                        <li *ngFor="let item of
                            manufacturado.manufacturadoDetalle">
                            {{item.articuloInsumo.denominacion}}
                        </li>
                    </ul>
                </td>
                <td>{{manufacturado.rubro.denominacion}}</td>
                <td><a href="#modalAgregar" role="button" class="btn btn-large
                        btn-primary"
                        data-toggle="modal" (click)="setManufacturado(i)">Editar</a></td>
                <td>
                    <button type="button" class="btn btn-danger"
                        (click)="eliminar(i)">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" (click)="rewind()" class="btn
                        btn-secondary btn-sm">anterior</button>
                </td>
                <td colspan="2">
                    <span *ngFor="let p of totalPages; let i= index">
                        <a style="cursor: pointer;" (click)="setPage(i)"
                            [ngClass]="{'text-primary': i === page }">{{ i+1
                            }}&nbsp;&nbsp;&nbsp;</a>
                    </span>
                    <button type="button" class="btn btn-primary btn-sm"
                        (click)="forward()">siguiente</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>