<header>
    
    <!--Navbar-->
    
 <!--    <mdb-navbar class="navbar navbar-expand-lg navbar-responsive-collapse">   
      
      <a class="active" href="/landing/#home"><i class="fa fa-fw fa-home"></i> Home</a>
      <div><a href="/landing/#us"><i class="glyphicon glyphicon-info-sign" ></i> Sobre nosotros</a></div>
      <a href="/landing/#contact"><i class="fa fa-fw fa-envelope"></i> Contacto</a>
      <a (click)="routeLogin()" [routerLink]="['/domicilio']" ><i class="fa fa-fw fa-user"></i> Login</a>
      
      <ul class="navbar-nav ml-auto">
  
          <a class="nav-link ml-auto" href="#">
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>      
        
          <a (click)="Ig()" class="nav-link" href="https://www.instagram.com/lautaro_nicolas_escudero/">   
            <mdb-icon fab icon="instagram"></mdb-icon>
          </a>
          <a class="nav-link" href="#">   
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>            
        
       
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button">
            <mdb-icon fas icon="user"></mdb-icon>
            <span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdowm-menu-right" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Iniciar sesión</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Crear cuenta</a>          
          </div>
        </li>
      
      </ul>
    
    </mdb-navbar> -->
  
   <div class="container mt-5">
  <div class="jumbotron" id="home">
    <!-- Intro -->
    <section>
  
      <div class="row">
  
        <div class="col-md-6">
  
          <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h1 class="heading display-3">El Buen Sabor</h1>
            <h4 class="subheading font-weight-bold">Ahora pedir comida es más fácil. Registrate o iniciá sesión para disfrutar de tus comidas favoritas</h4>
           
          </div>
  
        </div>
  
        <div class="col-md-6">
  
          <div class="view">
            <img src="../assets/images/front.jpg" class="img-fluid" alt="smaple image">
            <div class="mask flex-center hm-gradient">
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section>
  </div>
</div>
    <!-- Intro -->
  
  </header>
  <!-- Main navigation -->
  
  
  
  <main>
   <div class="jumbotron background:transparent !important" id="us">
    <div class="container">
      <!--Grid row-->
      <div class="row mt-5 mb-4">
        <div class="col-md-12">
          <div class="headings">
            <span class="hr"></span>          
            <h2 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn">SOBRE NOSOTROS</h2>
            <span class="hr"></span>          
          </div>
        </div>
        </div>
      
  
        <div class="row mt-4">
  
          <!--First column-->
          <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
  
            <!--Image-->
            <img src="https://mdbootstrap.com/img/Others/food2.jpg" alt="" class="z-depth-0 img-fluid">
  
          </div>
          <!--/First column-->
  
          <!--Second column-->
          <div class="col-lg-6 offset-lg-1 col-md-12 wow fadeIn" data-wow-delay="0.4s">
  
            <!--Title-->
            <h4 class="text-center mb-4">El mejor delivery del condado</h4>
  
            <!--Description-->
            <p class="grey-text mb-6 mr-3  ml-3" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Nemo animi soluta ratione quisquam,
              dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae
              maxime temporibus maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora ea
              voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam
              odit quia velit.</p>
  
          </div>
          <!--/Second column-->
  
    </div>
  </div>
        <!--Grid container-->
      </div>
      <!--Grid jumbo-->
  

  
    <div class="jumbotron" id="contact" >
  
      <section class="my-5">
  
        <!-- Section heading -->
        <div class="headings">
          <span class="hr"></span>          
          <h2 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn">CONTACTANOS</h2>
          <span class="hr"></span>          
        </div>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto pb-5">Escribinos para cualquier duda o reclamo,
          o también tenemos un servicio al cliente por teléfono que funciona 24 horas.
        Si queres unirte al Buen Sabor o publicitar en nuestro sitio, enviá un mail a la dirección de abajo.</p>
      
       
      
            <!--Google map-->
            <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 100px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.3258274568957!2d-68.84702128525606!3d-32.889552576329336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0907b3f6324b%3A0x501d1521958dfb21!2sPlaza%20Independencia!5e0!3m2!1ses-419!2sus!4v1588461859183!5m2!1ses-419!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <!-- Buttons-->
            <div class="row text-center" id="infoContact">
              <div class="col-md-4">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-map-marker-alt"></i>
                </a>
                <p>Mendoza, 55667</p>
                <p class="mb-md-0">Argentina</p>
              </div>
              <div class="col-md-4">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-phone"></i>
                </a>
                <p>+ 261589456</p>
                <p class="mb-md-0">Lunes - Viernes: 8:00-22:00</p>
              </div>
              <div class="col-md-4">
                <a class="btn-floating blue accent-1">
                  <i class="fas fa-envelope"></i>
                </a>
                <p>info@gmail.com</p>
                <p class="mb-0">ventas@gmail.com</p>
              </div>
            </div> 
          
      
      </section>
      <!-- Section: Contact v.1 -->
  
      <section style="background-image: url('https://cdn.hipwallpaper.com/i/0/68/OG1FLx.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; position:relative; top:-215px;">
  
        <div class="container-fluid mt-3 mb-5">
  
          <!-- Section -->
          <section>             
            
            <div class="mask rgba-black-strong py-5">
        
              <div class="container text-center my-5">
        
                <h3 class="font-weight-bold text-center white-text pb-2">Noticias</h3>
                <p class="lead text-center white-text pt-2 mb-5">Subscribite para enterarte de nuestras promociones</p>
        
                <form class="input-grey mb-5" action="" method="post" target="_blank">
                  <div class="form-row">
                    <div class="col-md-4 ml-auto">
                      <div class="input-group input-group-lg z-depth-1">
                        <div class="input-group-prepend">
                          <span class="input-group-text rgba-white-light border-0"><i class="fa fa-envelope white-text"></i></span>
                        </div>
                        <input type="email" name="EMAIL" class="form-control form-control-lg rgba-white-light white-text border-0 z-depth-0" placeholder="Correo electrónico">
                      </div>
                    </div>
        
                    <div class="col-md-2 mr-auto">
                      <button class="btn btn-block btn-primary">Subscribirse</button>
                    </div>
                  </div>
                </form>
        
                <div class="social text-center">
                  <a class="mx-1" href="#"><i class="fab fa-facebook-f p-2 rounded rgba-white-light white-text"></i></a>
                  <a class="mx-1" href="#"><i class="fab fa-twitter p-2 rounded rgba-white-light white-text"></i></a>                
                  <a class="mx-1" href="#"><i class="fab fa-instagram p-2 rounded rgba-white-light white-text"></i></a>
                </div>
        
              </div>
        
            </div>
        
          </section>
          <!-- Section -->
          
        </div>
  
      </section>

  
      <!--Scroll to top-->
      
  
  
  <!-- <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}"> -->
    <!-- <button (click)="scrollToTop()" class="btn btn-primary btn-lg back-to-top" -->
    <!-- title="Hacé clic para volver arriba" data-toggle="tooltip" data-placement="left"> -->
        <!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
    <!-- </button> -->
  <!-- </div> -->
      
    <!-- </div>   -->
    
  <!-- </main> -->
  <!--Main Layout-->
